<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <Link href="/stylesheets/style.css" rel="stylesheet"/>

    <title> EL PROVEEDOR - Accueil </title>

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.jpg" height=100% alt="logo">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse bg-light " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/apropos" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      A Propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/apropos">Notre Histoire</a>
                      <a class="dropdown-item" href="/apropos">Nos Objectifs</a>
                      <a class="dropdown-item" href="/apropos">Infos Pratiques</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/actualite" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actualité
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/actualite">Dernières Actualités</a>
                      <a class="dropdown-item" href="/actualite">Planning des Evénements</a>
                  </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="/actions_sociales" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions Sociales
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/actions_sociales">Soutien Administratif</a>
                    <a class="dropdown-item" href="/actions_sociales">Accompagnement</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/activites_edu_cultu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Activité Culturelles Et Educatives
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/activites_edu_cultu">Soutien Scolaire</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours d'Espagnol</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours de Français</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Permaculture</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Création de Bijoux en matières recyclées</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/rejoignez" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rejoignez-nous
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/rejoignez">Devenir Membre</a>
                      <a class="dropdown-item" href="/rejoignez">Devenir Bénévole</a>
                  </li>
                  <li></li>
                  <a class="btn btn-primary" role="button" href="/don">Faites un don</a> 
              </ul>
            </div>
          </nav>

        <div class="container">
  


        <div id="presentation">
          <h1 id="titre">Actions Sociales</h1>
              
          <p> El proveedor accompagne les étrangers dans leurs démarches administratives et mène diverses actions sociales pour les individus dans le besoin.           
        </p>
        <br>
      
      
      </div>



    <div class="row element">
      <div class="col-12 col-lg-3 illustration">
        <img src="/images/administratif.png"  />
      </div>
      <div class="col-12 col-lg-9 item">
        <h4>Soutien Administratif</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores veniam rerum nisi id, voluptas exercitationem quos at temporibus nemo, odit aperiam eveniet praesentium quisquam magni, culpa quasi commodi cum.
      </div>
    </div>

    <div class="row element">
      <div class="col-12 col-lg-3 illustration">
        <img src="/images/entraide.jpg"  />
      </div>
      <div class="col-12 col-lg-9 item">
        <h4>Accompagnement</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores veniam rerum nisi id, voluptas exercitationem quos at temporibus nemo, odit aperiam eveniet praesentium quisquam magni, culpa quasi commodi cum.
      </div>
    </div>

    <div class="row element">
      <div class="col-12 col-lg-3 illustration">
        <img src="/images/banque_alimentaire.jpg"  />
      </div>
      <div class="col-12 col-lg-9 item">
        <h4>Aide Alimentaire</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores veniam rerum nisi id, voluptas exercitationem quos at temporibus nemo, odit aperiam eveniet praesentium quisquam magni, culpa quasi commodi cum.
      </div>
    </div>

    



  </div>

  <div class="row footer">
            
    <div class="col-12" >
      
        <h1>Contact</h1>

        <p>Téléphone: +33 6 28 58 69 92 </p>
        <p>Email: elproveedor.contact@gmail.com </p>
   
    </div>
   
  </div>

  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>