<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <Link href="/stylesheets/style.css" rel="stylesheet"/>

    <title> EL PROVEEDOR - Accueil </title>

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.jpg" height=100% alt="logo">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse bg-light " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="/apropos" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      A Propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/apropos">Notre Histoire</a>
                      <a class="dropdown-item" href="/apropos">Nos Objectifs</a>
                      <a class="dropdown-item" href="/apropos">Infos Pratiques</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/actualite" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actualité
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/actualite">Dernières Actualités</a>
                      <a class="dropdown-item" href="/actualite">Planning des Evénements</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/actions_sociales" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions Sociales
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/actions_sociales">Soutien Administratif</a>
                    <a class="dropdown-item" href="/actions_sociales">Accompagnement</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/activites_edu_cultu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Activité Culturelles Et Educatives
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/activites_edu_cultu">Soutien Scolaire</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours d'Espagnol</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours de Français</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Permaculture</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Création de Bijoux en matières recyclées</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/rejoignez" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rejoignez-nous
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/rejoignez">Devenir Membre</a>
                      <a class="dropdown-item" href="/rejoignez">Devenir Bénévole</a>
                  </li>
                  <li></li>
                  <a class="btn btn-primary" role="button" href="/don">Faites un don</a>
              </ul>
            </div>
          </nav>

        <div class="container">
  


        <div id="presentation">
          <h1 id="titre">A Propos</h1>

        </div>
        <div>
          <h2>Mon histoire</h2>
          
          <br>
          <div id="histoire">
          <img src="/images/El-Provedor-Team-1024x682.jpg" alt="" id='img_monica'/>

          <p>Née au Venezuela je suis arrivée en France en 1990 à l'âge de 30 ans. Après mon divorce je me suis retrouvée avec mes 3 enfants à charge dans un pays étranger dans lequel j'ai rencontré de nombreuses difficultés administratives.
          <br><br>
          Ces expériences de la vie m’ont poussé à devenir un acteur clé pour aider les gens dans le besoin. Etant immigrée moi-même, et ayant eu à surmonter d’énormes difficultés, j’ai acquis une expérience riche qui me permer d'appuyet les immigrés de manière ponctuelle. J’aime me rendre disponible pour faciliter aussi et surtout l’intégration des étrangers hispanophones.
          <br><br>
          Ma résidence à Sartrouville est devenue le siège de l’association Franco-Latine. Beaucoup de jeunes ou de femmes ayant besoin d’un lieu pour dormir, ou, tout simplement, d’une orientation, d'un conseil, d'un accompagnement en français ou tout simplement d'une oreille attentive, sont passés par mon appartement.</p>
        </div>
          <br>

          <h2>Mon objectif</h2>

          <br> 

          <p>Mon but est de pouvoir aider les nouveaux arrivants au mieux et de leur donner des bases pratiques pour faire face aux impératifs administratifs. Pour cela, ils apprennent à manier les bases de la langue française par exemple, ou viennent au cours que nous donnons au salon de mon appartement, et cela depuis 2014.
          
          <p>L'association a démarrer ses activités en 2013 dans plusieurs communes telles que Saint-Germain-en-Laye, la Défense, et Paris Centre (Chatelet les halles). Nos activités étaient principalement centrées dans l’aide concrète, dans les donations de soupes, vêtements et autres.</p>
            
          <p>Par la suite, voyant d’autres besoins, nous avons établi des partenariats avec certains commerçants et enseignes de Sartrouville et Montesson. La participation au Salon des Associations de la Ville nous a permis d’entretenir des contacts précieux pour étendre le champ de nos actions. En effet, cela nous a permis d’accompagner dans l’apprentissage du français, d’aider en donnant de tickets de transport, accompagner les seniors dans leurs besoins de tous les jours. Organiser des sorties pour les enfants pendant les grandes vacances.</p>
            
          <p> Nous sommes convaincus que les ateliers offrent de belles occasions pour éveiller la créativité. Voilà pourquoi nous avons également organisé des ateliers que nous avons appelé « art créatif de recyclage écoresponsable »</p>

          <br>

          
        </div>




  </div>

  <div class="row footer">
            
    <div class="col-12" >
      
        <h1>Contact</h1>

        <p>Téléphone: +33 6 28 58 69 92 </p>
        <p>Email: elproveedor.contact@gmail.com </p>
   
    </div>
   
  </div>

  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>