<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <Link href="/stylesheets/style.css" rel="stylesheet"/>

    <title> EL PROVEEDOR - Accueil </title>

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.jpg" height=100% alt="logo">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse bg-light " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/apropos" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      A Propos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/apropos">Notre Histoire</a>
                      <a class="dropdown-item" href="/apropos">Nos Objectifs</a>
                      <a class="dropdown-item" href="/apropos">Infos Pratiques</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/actualite" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actualité
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/actualite">Dernières Actualités</a>
                      <a class="dropdown-item" href="/actualite">Planning des Evénements</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/actions_sociales" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions Sociales
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/actions_sociales">Soutien Administratif</a>
                    <a class="dropdown-item" href="/actions_sociales">Accompagnement</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/activites_edu_cultu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Activité Educatives et Culturelles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/activites_edu_cultu">Soutien Scolaire</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours d'Espagnol</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Cours de Français</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Permaculture</a>
                      <a class="dropdown-item" href="/activites_edu_cultu">Création de Bijoux en matières recyclées</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rejoignez-nous
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/rejoignez">Devenir Membre</a>
                      <a class="dropdown-item" href="/rejoignez">Devenir Bénévole</a>
                  </li>
                  <li></li>
                  <a class="btn btn-primary" role="button" href="/don">Faites un don</a>
                   
              </ul>
            </div>
          </nav>
  


        <div id="presentation">
          <h1 id="titre">Association EL PROVEEDOR</h1>
              
          <p>
              L'Association Franco-Latine El Proveedor est une association pleine d'idées, conviviale et simple qui participe à l'intégration dans la société.
        </p>
      
      
      </div>


<div class="container-fluid">
    <div class="row">
      
      <div class="col-12 col-lg-6 " id="conteneur-carousel">
  
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/soutien_scolaire.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Titre Texte</h5>
                      <p>Introduction courte pour ce sujet.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/images/musee.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Titre Texte</h5>
                      <p>Introduction courte pour ce sujet.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/images/jardin.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Titre Texte</h5>
                      <p>Introduction courte pour ce sujet.</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        
        </div>
        

      </div>

      <div class="row">
      
      
            
            <div class="cards col-12 col-sm-6 col-lg-3" id="card-asso">
                <div class="card" id="card-border-asso">
                    <img src="/images/logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="card-titre-asso">A Propos</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="/apropos" class="card-link" id="card-btn-asso">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="cards col-12 col-sm-6 col-lg-3" id="card-event">
                <div class="card" id="card-border-event">
                    <img src="/images/collecte_alimentaire.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="card-titre-event">Actions Sociales</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="/actions_sociales" class="card-link" id="card-btn-event">En savoir plus</a>
                    </div>
                </div>
            </div>
            
            <div class="cards col-12 col-sm-6 col-lg-3" id="card-contact">
                <div class="card" id="card-border-contact">
                    <img src="/images/musee.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="card-titre-contact">Activités Educatives et Culturelles</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="/activites_edu_cultu" class="card-link" id="card-btn-don">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="cards col-12 col-sm-6 col-lg-3" id="card-don">
                <div class="card" id="card-border-don">
                    <img src="/images/entraide.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="card-titre-don">Rejoignez-nous</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="/rejoignez" class="card-link" id="card-btn-don">En savoir plus</a>
                    </div>
                </div>
            </div>
           

      
    </div>

   



  </div>
  <div class="row footer">
            
    <div class="col-12" >
      
        <h1>Contact</h1>

        <p>Téléphone: +33 6 28 58 69 92 </p>
        <p>Email: elproveedor.contact@gmail.com </p>
   
    </div>
   
  </div>

  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>